@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

svg {
    width: 20px;
    height: 20px;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: #000;
}

:root {
    /* định nghĩa chung */
    --smDis: 10px;
    --mdDis: 20px;
    --lgDis: 30px;
    --xlDis: 40px;
    /* small, medium, large,Extralarge */
    --mainColor1: #2CAFE4;
    --subColor1: #AADFF4;
    --subColor2: #80CFEE;
    --subColor3: #56BFE9;
    --subColor4: #AADFF4;
    --subColor5: #FFFFFF;
    --subColor6:  #232324; 
    --subColor7:  #87878A;
    --font1: 'Poppins', sans-serif;
    --fontSize1: 2rem;
    --fontSize2: 2.4rem;
    --fontSize3: 2.8rem;
    --fontSize4: 4rem;
}

img,
video,
iframe {
    max-width: 100%;
    max-height: 100%;
}

.padding-all {
    padding: var(--mdDis);
}

.padding-x {
    padding: 0 var(--mdDis);
}

.padding-y {
    padding: var(--mdDis) 0;
}

.center-flex {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.d-md-block,
.d-md-flex,
.d-lg-block {
    display: none;
}

.max-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0;
    padding: 0;
    /* bỏ lề */

}

body,
input,
button {
    font-family: var(--font1);
    font-size: var(--fontSize1);
}

.reset-list {
    list-style: none;
    padding: 0;
    margin: 0;
} 

/* -------------HOVER-------------------- */
.the-menu a:hover {
    background-color: #2CAFE4;
    color: #FFF;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    /* width: max-content; */
}
.sp-gioithieu a:hover {
    transform: scaleX(110%);
    background-color: #2CAFE4;
    color: #FFF;
    border: solid 5px #2CAFE4;
    /* width: max-content; */
}
.products-home a:hover {
    transform:scaleX(110%);
    /* width: max-content; */
    box-shadow: 0 0.5em 0.5em -0.4em var(--subColor6);
}
.products-sell a:hover {
    transform: scale(100%); 
    /* width: max-content; */
    box-shadow: 0 0.5em 0.5em -0.4em var(--subColor6);
}

/* =============== */
header {
    position: sticky;
    left: 0;
    top: 0;
    box-shadow: 0 3px 10px #FFFFFF opacity 16%;
    /* viền header  */
    background-color: #ffffff;
    z-index: 99;
}

/*position: sticky => tự động tính  chiều cao  */

/* header .header-inner{background-color: blanchedalmond;} */

header .header-inner .link-logo img {
    scale: 150%;
    width: 100px;
    
}
header .link-logo {
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 50%;

}
header .header-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
/* icon giỏ hàng-------------------------- */
header .link-gh {
    /* background-color: rgb(16, 216, 196); */
    margin-left: auto;
    margin-right: 0;
    position: relative;
    /* thẻ cha */
}
/* màu icon header------------------------ */
/* header svg {

    padding: 1px;
    fill: var(--mainColor2);
    border: solid 1px var(--mainColor2);
    border-radius: 2px;
} */

/* icon menu------------------------------ */
header #btn-menu {
    margin: 0;
    border: none;
    padding: 0;
    position: relative;
    /* background-color: #E7D690;     */
    /* background-color: #FFFFFF; */
    background-color: transparent;
}
header #btn-menu svg {width: 25px;}

/* icon search */
header #btn-search {
    padding: 0;
    margin-right: var(--smDis);
    border: none;
    position: relative;

}
header .link-icon-search {
    display: flex; 
    position: absolute;
    top: 23px;
    right: 60px;
    /* background-color: var(--subColor4); */
}
header {
    /* border: solid 0.5px rgb(148, 148, 148) ; */
    border-radius: 0 0 20px 20px;
    filter: drop-shadow(0 0 20px rgb(148, 148, 148));
}
header svg {
    fill: var(--mainColor1);
}
/* navigation menu------------------- */
header rect {
    transform-origin: center;
    transform-box: fill-box;
    transition: fill 0.5s, transform 0.5s, opacity 0.5s;
    color: #FFF;
}
.the-menu-2 > li {
    padding-top: 40px;
    padding-right: 10px;
}
.the-menu {
    display: block;
    width: 70%;
    height: auto;
    background-color: #56BFE9;
    opacity: 80%;
    position: fixed;
    z-index: -1;
    top: 0px;
    left: 0;
    clip-path: circle(0% at 50% 0);
    transition: clip-path 0.3s;
}

.the-menu a {
    color: var(--subColor5);/* màu chữ nav */
    margin-bottom: var(--smDis);
    display: block;
    font-weight: 600;
    font-size: var(--mdDis);
}

.show-menu .the-menu {
    clip-path: polygon(0% 0%,50% 0%,50% 100%,0% 100%);
    transition: clip-path 3s;
}

.show-menu header .mid {
    opacity: 0;
}

.show-menu header .top {
    transform: translate(0, 8px) rotate(45deg);
    width: 25px;
    fill: #FFF
}

.show-menu header .bot {
    transform: translate(0, -8px) rotate(-45deg);
    fill: #FFF
}
/* HOTSALE */
.hot-sale {
    background-color: rgb(135, 135, 138, 0.5);
    text-align: center;
}
/* BANNER */
.banner .swiper-slide {
    border-radius: 40px;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.banner .b1 {
    background-image: url(Pictures/Imgtrangsanpham/banner-1.jpg);
}

.banner .b2 {
    background-image: url(Pictures/Imgtrangsanpham/banner-2.jpg);
    
}

.banner .b3 {
    background-image: url(Pictures/Imgtrangsanpham/banner-3.jpg);
}

/* bỏ nút tròn */

.banner-pagination {
    position: static;
    background-color: transparent;
}

.banner-review .banner-pagination .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: transparent;
    margin-left: 20px;
}
.swiper-button-prev {
    color: var(--subColor7);
}
.swiper-button-next{
    color: var(--subColor7);
}
/* --------------------------------------------------- */

.khung-welcome a {
    padding: 10px;
    background-color:#aadff48a ;
    
}
.welcome {
    /* border: solid 0.5px; */
    /* width: 450px; */
    border-radius: 40px;
    background-color:var(--subColor1);
    padding: 10px;
    position: relative;
    margin: 20px auto;
    width: 90%;
}

/* SECTION HEADING */
.section-heading {
    margin: 0; 
    padding:0 0 5 0;
    position: relative;
    margin-bottom: 0px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    /* z-index: -1; */
}

/* KHỐI SẢN PHẨM GIỚI THIỆU */

.khung-sp {
    position: inherit;
    /* width: 400px;
    height: 400px; */
    aspect-ratio: 1/1;
    border: solid 1px #2CAFE4;
    border-radius: 20px;
    background-image: url(Pictures/Imgtrangsanpham/yoel-peterson-4VJIGu1cV-c-unsplash.png);
    background-position: center;
    background-size: cover;
}
.khung-sp2 {
    position: inherit;
    /* width: 400px;
    height: 400px; */
    aspect-ratio: 1/1;
    border: solid 1px #2CAFE4;
    border-radius: 20px;
    background-image: url(Pictures/Imgtrangsanpham/banner-2.jpg);
    background-position: center;
    background-size: cover;
}
.link-sp-gioithieu {
    width: 190px;
    border: solid 0.5px;
    padding:8px;
    border-radius:10px;
    background-color: #ffffff9a;
}
/* KHỐI PRODUCTS-HOME */
.products-home {
    position: relative;
}
.khung-products-home {
    transform: scale(90%);
    position: inherit;
    /* width: 400px;
    height: 400px; */
    aspect-ratio: 1/1;
    border: solid 1px #2CAFE4;
    border-radius: 20px;
    background-image: url(Pictures/Imgtrangboys/boy.png);
    background-position: center;
    background-size: cover;
}
.khung-products-home-1 {
    scale: 90%;
    /* width: 400px;
    height: 400px; */
    aspect-ratio: 1/1;
    border: solid 1px #2CAFE4;
    border-radius: 20px;
    background-image: url(Pictures/Imgtranggirls/girl-3.png);
    background-position: center;
    background-size: cover;
    /* left: 0;
    top: 50%;
    transform: translate(0,-50%); */
    position: inherit;
}
.khung-products-home-2 {
    scale: 90%;
    position: inherit;
    /* width: 400px;
    height: 400px; */
    aspect-ratio: 1/1;
    border: solid 1px #2CAFE4;
    border-radius: 20px;
    background-image: url(Pictures/Imgtrangnewborn/baby-7.png);
    background-position: center;
    background-size: cover;
    display: none;
}
.khung-products-home-3 {
    scale: 90%;
    position: inherit;
    /* width: 400px;
    height: 400px; */
    aspect-ratio: 1/1;
    border: solid 1px #2CAFE4;
    border-radius: 20px;
    background-image: url(Pictures/Imgtrangsanpham/soft-toy-gc0c5ceeb8_1920.png);
    background-position: center;
    background-size: cover;
    display: none;
}
.products-home svg{
    width: 30px;
    height: 30px;
}
.link-sp-gioithieu-1 {
    width: 190px;
    border: solid 0.5px ;
    padding:8px;
    border-radius:10px;
    background-color: #ffffffe0; 
    position: relative;
    display: flex !important;
    margin: auto;
    top: 45%;
}


/* PRODUCTS SELLER */
.sp-sell .swiper-slide {
    gap: 10px;
    border: solid 1px #2CAFE4;
    border-radius: 40px;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
}

.sp-sell .b1 {
    background-image: url(Pictures/Imgtrangnewborn/baby-2.png);
    transform: scale(70%);
}

.sp-sell .b2 {
    background-image: url(Pictures/Imgtrangnewborn/baby-10.png);
    transform: scale(70%);
    
}

.sp-sell .b3 {
    background-image: url(Pictures/Imgtrangnewborn/baby-4.png);
    transform: scale(70%);
}


/* VIỀN MÀU */
.section-heading::after {
    content: ""; 
    width: 90%;
    height: 10px;
    justify-content: center;
    background-color: var(--subColor4); 
    position: absolute; 
    top: 52%;
    left: 50%;
    transform: translate(-50%,0);
    /* margin-bottom:0; */
    border-radius: 3px;
    z-index: -1; /* nổi text lên  */   
}
.section-heading h1 {
    color: #2CAFE4;
}
/* FORM SIGNUP-FOOTER--------------------------- */
footer {
    /* border: solid 1px ; */
    text-align: center;
    align-items: center;
    position: relative;
}
.frm-sign-up {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
}
.footer-inner .frm-sign-up {
    /* background-color: sienna; */
    /* border-radius: 4px; */
    margin-top: var(--mdDis);
    width: 80%;
    position: relative;
    /* cha */
    color: var(--mainColor1);
    top: 0;
}

footer .frm-sign-up button {
    position: absolute;
    /* con */
    display: flex;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    border: none;
    border-radius: 0 30px 30px 0;
    background-color: var(--mainColor1);
    padding: 10px;
    justify-content: center;
}
footer .frm-sign-up input {
    padding: var(--smDis) var(--xlDis) var(--smDis) var(--smDis);
    border: solid 1px var(--subColor1); 
    border-radius: 30px;
    width: 100%;
    align-items: center; 
}

input::placeholder {
  
    color: var(--mainColor1);
}

footer .service-footer {
    height:165px;
    display: grid;
    grid-template-columns:1fr 1fr ;
    background-color: #aadff48a;
    border-radius: 30px;
    justify-content: center;
}
.service-footer{
    position: relative;
    margin-top: 50px;
}
.footer-inner{
    /* background-color: #56BFE9; */
    position: relative;
}
.footer-inner .social-links{
    display: flex;
    position: absolute;
    gap: var(--mdDis);
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 20px;
}
.footer-inner .copyright{
    display: flex;
    position: absolute;
    gap: var(--mdDis);
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}
footer .social-links svg {
    opacity: 80%;
}
footer .copyright p {
    /* background-color: #87878A; */
    padding-top: 10px;
}
.about-us  {
    position: absolute;
    left:20px;
    top: 20px;
}
.customer-care {
    position: absolute;
    right: 20px;
    top: 20px;
}
.social-links svg {
    fill: #2CAFE4;
}
/* -----------phan 768px--------- */

.sp-gioithieu > ul > li:first-child {margin-bottom: var(--lgDis);}

@media screen and (min-width:768px) {
    /* HEADER */
    .d-md-none {
        display: none !important;
    }

    .d-md-block {
        display: block !important;
    }

    .d-md-flex {
        display: flex !important;
    }

    .sp-gioithieu > ul {
        /* display: flex; */
        /* width: 100%; */
        width: 100%;
        display: grid; grid-template-columns: 1fr 1fr;
        
        gap:var(--mdDis);
    }
    .products-home  {
        width: 100%;
        display: grid; grid-template-columns: 1fr 1fr;
        
        gap:var(--mdDis);
    }
    /* header .frm-sch {
        width: 250px;
        order: 2;
        margin-left: auto;
        margin-top: 0;
    } */
 
    .header-inner .link-gh {
        order: 3;
        margin-left: var(--mdDis);
    }
    .header-inner .link-logo {
        display: flex;
        position: relative;
        left: 70px;
        top: 20px;   
    }
   /* icon header */
    .header-inner .link-gh .link-icon-search{
        display: flex;
        position: absolute;
        top: 50px;
   }
    /* menu ngang */
    .the-menu {
        background-color: var(--subColor5);
        clip-path: none;
        position: relative;
        width: 100%;
        height: 10%;
        align-items: center;
        display: flex;
    }
    .the-menu .swiper-slide {
        justify-content: center;
        width: 100%;
        display: flex;
        gap: 20px;
    }
    .the-menu-2 a{
        color: #2CAFE4;
        font-weight: 400;
    }
    .the-menu-2 .tab {
        background-color: #2CAFE4;
        padding-left: 10px;
        padding-right: 10px;
        border: solid 0.5px var(--mainColor1);
        border-radius: 20px;
    }
       /* products-index*/

       .khung-products-home-2 {
        display: block;
    }
    .khung-products-home-3 {
        display: block;
    }
    /* products sell */
    
    .sp-sell .swiper-slide .swiper-wrapper {
        border-radius: 40px;
        background-size: cover;
        background-position: center;
    }
  
    /* FOOTER */
 .footer-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*  hoặc 2fr 3fr */
    gap: var(--smDis);
}

.footer-menu {
    margin-top: 0;
}
.footer-inner {
    /* background-color: #AADFF4; */
    position: relative;
}
.footer-inner .sign-up {
    position: absolute;
    /* background-color: #56BFE9; */
   right: 0;
   padding-top: 20px;
   padding-right: 30px;


}
.social-links svg {
    fill: #2CAFE4;
}

/* => icon qua phải  */

/* .company-info {
    justify-self: end;
} */
.welcome {
    width: 70%;
}
.footer-inner .logo-footer{
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-top: 50px;
   
}
.footer-inner .frm-sign-up {
    /* background-color: #56BFE9; */
    width: 90%;  
}

}
/* --------Ket thuc 768px-------- */
/* --------Phan 992px--------- */
@media screen and (min-width:992px) {
    /* HEADER */
    .d-md-none {
        display: none !important;
    }

    .d-md-block {
        display: block !important;
    }

    .d-md-flex {
        display: flex !important;
    }

    .sp-gioithieu > ul {
        /* display: flex; */
        /* width: 100%; */
        width: 100%;
        display: grid; grid-template-columns: 1fr 1fr;
        
        gap:var(--mdDis);
    }
    .products-home  {
        width: 100%;
        display: grid; grid-template-columns: 1fr 1fr;
        
        gap:var(--mdDis);
    }
    /* header .frm-sch {
        width: 250px;
        order: 2;
        margin-left: auto;
        margin-top: 0;
    } */
 
    .header-inner .link-gh {
        order: 3;
        margin-left: var(--mdDis);
    }
    .header-inner .link-logo {
        display: flex;
        position: relative;
        left: 70px;
        top: 20px;   
    }
   /* icon header */
    .header-inner .link-gh .link-icon-search{
        display: flex;
        position: absolute;
        top: 50px;
   }
    /* menu ngang */
    .the-menu {
        background-color: var(--subColor5);
        clip-path: none;
        position: relative;
        width: 100%;
        height: 10%;
        align-items: center;
        display: flex;
    }
    .the-menu .swiper-slide {
        justify-content: center;
        width: 100%;
        display: flex;
        gap: 20px;
    }
    .the-menu-2 a{
        color: #2CAFE4;
        font-weight: 400;
    }
    .the-menu-2 .tab {
        background-color: #2CAFE4;
        padding-left: 10px;
        padding-right: 10px;
        border: solid 0.5px var(--mainColor1);
        border-radius: 20px;
    }
      /* menu vào giữa */
      .the-menu .swiper-slide {
        justify-content: center;
        width: 100%;
    }
    /* PRODUCT-SELL */
    .khung-products-home-2 {
        display: block;
    }
    .khung-products-home-3 {
        display: block;
    }
       /* FOOTER */
 .footer-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*  hoặc 2fr 3fr */
    gap: var(--smDis);
}

.footer-menu {
    margin-top: 0;
}
.footer-inner {
    /* background-color: #AADFF4; */
    position: relative;
    padding: 50px;
}
.footer-inner .sign-up {
    position: absolute;
    /* background-color: #56BFE9; */
   right: 0;
   padding-top: 50px;
   padding-right: 70px;
}
.social-links svg {
    fill: #2CAFE4;
}

.footer-inner .frm-sign-up {
    /* background-color: #56BFE9; */
    width: 90%;  
}
.welcome {
    width: 70%;
}
.footer-inner .logo-footer{
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-top: 50px;
   
}
    .products-sell {
        width: 80%;
    }
    .products-sell .sp-sell a{
        gap: 10px;
    }
   
    /* HOVER */
    /* .products-home > .link-sp-gioithieu-1{
        transition: scale 0.3s;
    }
    .products-home > .link-sp-gioithieu-1:hover {
        scale: 200%;
    }  */
}

/* --------------Ket thuc 992px------------------------ */
/* Phan 1200px */
@media screen and (min-width:1200px) {
  /* HEADER */
  .d-md-none {
    display: none !important;
}

.d-md-block {
    display: block !important;
}

.d-md-flex {
    display: flex !important;
}

.sp-gioithieu > ul {
    /* display: flex; */
    /* width: 100%; */
    width: 100%;
    display: grid; grid-template-columns: 1fr 1fr;
    
    gap:var(--mdDis);
}
.products-home  {
    width: 100%;
    display: grid; grid-template-columns: 1fr 1fr;
    
    gap:var(--mdDis);
}
/* header .frm-sch {
    width: 250px;
    order: 2;
    margin-left: auto;
    margin-top: 0;
} */

.header-inner .link-gh {
    order: 3;
    margin-left: var(--mdDis);
}
.header-inner .link-logo {
    display: flex;
    position: relative;
    left: 70px;
    top: 20px;   
}
/* icon header */
.header-inner .link-gh .link-icon-search{
    display: flex;
    position: absolute;
    top: 50px;
}
/* menu ngang */
.the-menu {
    background-color: var(--subColor5);
    clip-path: none;
    position: relative;
    width: 100%;
    height: 10%;
    align-items: center;
    display: flex;
}
.the-menu .swiper-slide {
    justify-content: center;
    width: 100%;
    display: flex;
    gap: 20px;
}
.the-menu-2 a{
    color: #2CAFE4;
    font-weight: 400;
}
.the-menu-2 .tab {
    background-color: #2CAFE4;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 0.5px var(--mainColor1);
    border-radius: 20px;
}
.welcome {
    width: 70%;
}
}